CMakeFiles
CMakeLists.txt.user
pybind11
_deps
CMakeCache.txt
Makefile
*.so
Telex.egg
cmake_install.cmake
dist
Telex.egg-info
*.vcxproj*
*.sln
.eggs 
Release 
Debug 
Telex.dir 
x64 
Telex-1.0.1
build
*.pyc
_deps
.idea
Telex.cp38-win_amd64.pyd 
